<% provide(:title, "Home") %>
<% provide(:button_text, "Add entry")%>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="run_form" id="run_form">
        <%= render 'shared/run_form' %> 
      </section>
    </aside>
     <div class="col-sm-8">
        <%= render 'static_pages/filter_form'%>
    </div>
    <div class="col-md-8">
        <h3>Jogging traks </h3>
        <div  id="feed_items">
        <%= render 'shared/feed' %>
        </div>
    </div>
   
  </div>
<% else %>
  <div class="center jumbotron">
      <h1>Welcome to the Jogging App</h1>

      <h2>
        This is the home page for the Jogging App
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>